---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Contact" description="Want to report a bug? Suggest an improvement? Find me on GitHub." />
	</head>
	<body>
		<Header />
		<main>
			<h1>Contact</h1>
			<p>
				Want to report a bug?<br />
				Suggest an improvement?<br />
				Or politely inform me that something is wrong?
			</p>
			<p>
				You can find me on <a href="https://github.com/isBatota">GitHub</a>.
			</p>
			<p>
				<strong>Fair warning:</strong> If the issue is in the code, it's probably my fault.
				If it's not… then the code is lying.
			</p>
		</main>
		<Footer />
	</body>
</html>
